.infoLabel {
    color: var(--bs-gray-600);
    /* color: red; */
}


.avatar{
    max-width: 50%;
    height: auto;
    display:block;
    margin-bottom: 5%;
}
.imgContainer{
    display:flex;
    justify-content: center;
}